// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$kikoe-white: rgba(249, 250, 253, 1);
$kikoe-blue: rgba(145, 178, 253, 1);
$kikoe-purple: rgba(173, 128, 250, 1);
$kikoe-pink: rgba(246, 148, 183, 1);
$kikoe-lightblue: rgba(205, 208, 246, 1);
$kikoe-green: rgb(131, 207, 218);
$kikoe-red: rgb(226, 93, 93);


// emotions
.text-dark-sad{
  color: $kikoe-pink;
}
.text-sad{
  color: #FFAC81;
}
.text-neutral{
  color: #EAF8BF;
}
.text-happy{
  color:#ADFCF9;
}
.text-very-happy{
  color: #ACF39D;
}

//background

.bg-sad{
 background-color: #cc5519;
}
.bg-very-sad{
  background-color:rgb(243, 7, 46);
}
.bg-neutral{
  background-color: #74931b;
}
.bg-happy{
  background-color: #017773;
}
.bg-very-happy{
  background-color: #1f830b;
}
