.counselors-form {
  height: 100%;
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  justify-content: center;
  padding: 5px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  border-radius: 3px;
  .first-form{
    .col-form-label {
      margin: 5px auto;
      padding: 0px;
      text-shadow: 0 0 1px rgb(99, 123, 179);
    }
  }
  .second-form {
    .col-form-label {
      margin: 5px auto;
      padding: 0px;
      text-shadow: 0 0 1px rgb(99, 123, 179);
    }
    label.string.optional{
      margin-bottom: 0;
      text-shadow: 0 0 1px rgb(99, 123, 179);
    }
    input {
      margin: 10px auto;
    }
    .form-check-label {
      padding: 10px;
      font-size: 14px;
      box-shadow: 0 0 5px rgb(180, 199, 243);
    }
    .form-check-input.is-valid ~ .form-check-label {
    transition-duration: 0.4s;
    color: white;
    background: $kikoe-blue;
    box-shadow: 0 0 5px rgb(180, 199, 243);
    border-radius: 3px;
    }
    .form-check-input.is-valid ~ .form-check-label:hover {
      background-color: #ad80fa;
      color: white;
    }
  }
  .book-a-session{
    h2 {
      font-family:Helvetica,Arial,sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 62px;
      text-align: center;
      color: white;
      // background-image: linear-gradient(45deg, #814fd8 5%, #6189e7 69%, #8d95ff 98%);
      // background-clip: text;
      // background-size: 100%;
      // -webkit-background-clip: text;
      // -moz-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // -moz-text-fill-color: transparent;
      font-weight: bold;
      text-shadow: 0 0 1px rgb(99, 123, 179);
    }
  }
  .category-wrapper {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;

  }

  .category-item {
    flex: 0 0 30%;
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 5px;
    border-radius: 4px;
    color: white;
  }
  label{
    font-weight: 600;
    color: white;
  }

  .category-counselor-img {
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.7 !important;
  }

  .category-counselor-img.selected {
    transition: .5s;
    // box-shadow: 0 0 16px rgba(0,0,0,1);
  }

  .col-form-label {
    font-weight: 600;
    color: white;
  }
  .category-selector:checked + label {
    color: $kikoe-pink !important;
    // opacity: 0.7 !important;
    // box-shadow:
    // inset 0 -3em 3em rgba(185, 7, 7, 0.1),
    // 0 0  0 2px $kikoe-blue,
    img {
      opacity: 1 !important;
      box-shadow: 0 0 20px rgba(246, 148, 183, 1);
    }
  }
  .new-submit-btn{
    transition-duration: 0.4s;
    background-color: $kikoe-pink;
    border-radius: 4px;
    color: white;
    margin-top: 15px;
    box-shadow: 0 0 5px rgb(180, 199, 243);
  }
  .new-submit-btn:hover{
    background-color: #ad80fa;
    color: white;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
}
