// Specific CSS for your home-page
.daily-report {
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  padding: 130px 10px;
  color: white;
  &.small {
    padding: 10px;
  }
}

.emotions {
  i {
    font-size: 35px;
    margin: 0px 10px;
    // box-shadow: 5px 7px 16px rgba(0,0, 0, .3);
    border-radius: 50%;
    line-height: 32px;
    width: 33px;

  }
}

footer {
  background-color: rgb(211, 218, 219);
  a {
    font-size: 30px;
    margin: 5px 30px;
    text-decoration: none;
    color: rgb(141, 144, 146);
  }
}

.online-counselors {
  color: white;

  // text-shadow: 0 0 rgb(211, 209, 209), 0 0 rgb(211, 209, 209), 0 0 rgb(211, 209, 209), 0 -1px rgb(211, 209, 209);
  .counselor-pic img {
    border-radius: 50%;
  }
}

.sos-text {
  background-image: linear-gradient(45deg, rgba(246, 148, 183, 1) 5%, #fa8480 69%, rgba(246, 148, 183, 1) 98%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  font-weight: bold;
}

.sos {
  background-image: linear-gradient(45deg, rgba(246, 148, 183, 1) 5%, #fa8480 69%, rgba(246, 148, 183, 1) 98%);
  color: $kikoe-white;
  // box-shadow: 0px 1px 3px $kikoe-purple;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px $kikoe-purple;


}
.sos:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: $kikoe-white;
   background-image: linear-gradient(45deg, rgba(246, 148, 183, 1) 5%, $kikoe-purple 69%, rgba(246, 148, 183, 1) 98%);
}

.sos-button {
  padding: 15px;
  box-shadow: 0px 1px 3px rgba(250, 132, 128, 0.7);
  border-color: #fa8480;
  color: #f07974;
  font-weight: bold;
  background-color: white;
  border-radius: 3px;
}
