.login-color{
  height: 100vh;
   color: $kikoe-white;
   background-image: linear-gradient(45deg, rgba(246, 148, 183, 1) 5%, $kikoe-purple 69%, rgba(246, 148, 183, 1) 98%);
}
// .title-color{
//   color: $kikoe-white;
// }
.inputs-label{
  margin: 0%;
}
.login-btn{
  border-radius: 4px;
  color: $kikoe-white;
}
