.login-color{
  font-size: 25px;
  font-weight: lighter;
  height: 100vh;
  color: white;
  background: linear-gradient(180deg, rgba(246, 148, 183, 0.8) 0%, rgba(173, 128, 250, 0.6) 6%, rgba(255,255,255,1) 100%);

}


label.form-check-label.boolean.optional {
  font-size: 15px;
  position: relative;
  top: -3px;
}

.form-check {
  padding-left: 0px !important;
}

input#user_remember_me {
  position: relative;
  top: -3px;
  font-size: 10px;
  margin: 5px;
}

.inputs-label{
  margin: 0%;
  margin: 30px;
}

.login-btn{
  border-radius: 4px;
  color: $kikoe-white;
  margin: 30px;
  font-size: 25px;
}

.forgot {
  position: relative;
  top: -184px;
  left: 204px;
  font-size: 10px;
  color: rgb(27, 69, 193);
  text-shadow: none !important;
}
