.book-button {
  width: 50%;
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  border-radius: 3px;
}

.title {
  color: #ad80fa;
  // background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -moz-text-fill-color: transparent;
  font-weight: bold;
  display: list-item;
}

.description {
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 14px;
  margin: 5px;
}

.description-sos {
  background-image: linear-gradient(45deg, rgba(246, 148, 183, 1) 5%, #fa8480 69%, rgba(246, 148, 183, 1) 98%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 14px;
  margin: 5px;
}

.description-white {
  font-size: 12px;
  margin: 5px;
  color: white;
}
.with-card{
  p {
    margin-bottom: 5px;
    color: white;
    text-shadow: 0 0 1px rgb(99, 123, 179);
  }
}
.session-card {
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  color: white;
  img {
    border-radius: 50%;
  }
  .counselor_pic {
    padding: 0px;
    p {
      margin: 5px 0px;
      text-shadow: 0 0 1px rgb(99, 123, 179);
    }
  }
  .counselor_info {
    width: 50%;
    text-align: left;
    align-self: center;
    padding: 0px;
    div {
      // width: 33%;
      text-align: left;
      margin: 5px;
    }
    i {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}
.recent-pic {
  img {
    border-radius: 50%;
    margin-bottom: 5px;
  }
  p{
    background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5px;
    font-weight: bold;
  }
}
.recent-card {
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  color: white;
  margin-bottom: 10px;
  .recent-session-info {
    width: 50%;
    text-align: left;
    align-self: center;
    padding: 0px;
    div {
      // width: 33%;
      text-align: left;
      margin: 5px;
    }
    i {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

.transparent-input {
  background-color: transparent;
  color: white;
}

@media(min-width:500px) {
  .title {
  display: block;
  }
}
