.book-button {
  width: 50%;
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  border-radius: 3px;
}

.title {
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.session-card {
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  color: white;
  img {
    border-radius: 50%;
  }
}
