<p><strong>Name:</strong> <%= @counselor.first_name %></p>
<p><strong>Email:</strong>  <%= @counselor.email %></p>
<% current_counselor.bookings.map do |booking| %>
  <% if booking.in_session == true %>
    <div class="d-flex justify-content-center p-3 border border-dark m-3">
      <%= raise %>
      <p><%  %></p>
    </div>
  <% end %>
<% end %>
<%= render 'shared/footer_counselor' %>
