<div class="page">
  <%= render 'shared/navbar' %>
  <div class="body-frame">
    <%# render 'weekly_and_monthly_reports' %>
    <%= render "students_tabs" %>
  </div>
  <%= render 'shared/footer_counselor' %>
</div>
