<div class="mx-auto my-3 w-100" style='width: 500px'>
  <h1>Session has ended</h1>
</div>
<%# Counselor, Time, Mode %>
<div class="form mx-auto w-100 justify-content-center" style='width: 500px'>
  <%= simple_form_for @booking, method: :patch do |f| %>
    <%= f.input :rating, label: 'Are you feeling better now?',
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper d-flex',
      item_wrapper_class: 'category-counselor mx-3',
      input_html: {class: 'category-selector', onchange: 'this.form.submit()'},
      collection: [['Very bad', 1], ['Not really', 2], ['Slightly better', 3], ['Better', 4], ['Much Better', 5]]
    %>
  <% end %>
  <h3>Would you like to book a session?</h3>
  <%= link_to "Yes", new_booking_path, class: 'btn btn-primary' %>
  <%= link_to "No", root_path, class: 'btn btn-primary' %>
</div>
