<div class="profile-card">
  <h3 class="student-name"><strong><%= @user.full_name %></strong></h3>
  <div class="student-picture row justify-content-center">
    <%= cl_image_tag(@user.photo.key, height: 120, width: 120, radius: 'max',class: 'student-image', background: '#f4f4f4') %>
    <div class="counselor_pic col-xs-2 col-sm-3 col-lg-3 text-center">
      <%= render "contact_form" %>
    </div>
  </div>
</div>
