<div class="page">
  <%= render 'shared/navbar' %>
  <div class="body-frame">
    <%= render "session_invitation" %>
    <%= render "monthly_individual_report" %>
  </div>
  <%= render 'shared/footer' %>
</div>
