.page-frame-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-head {
  min-height: 4rem;
  background-color: #ad80fa;
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  opacity: 0.6;
  position:sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.page-frame-body {
  flex-grow: 1;
  overflow: scroll;
}

.chatroom-text-box {
  min-height: 2rem;
}
