.wrapper{
 width: 600px;
 height: 500px;
 margin: 5em auto;
 background: white;
 padding: auto;
 box-shadow: 5px 10px #888888;
//  border: 1px ligth gray;
}
.counselor-rating-btn {
   border-color: $kikoe-purple;
  color: $kikoe-pink;
}

.counselor-rating-btn:hover {
  background-color: $kikoe-pink;
  color: white;
  text-decoration: none;
}
@media(min-width:700px){
.wrapper{
display: grid;
grid-template-columns: 1fr,2fr;
}
}
