.emotion-form {
  .category-wrapper {
  display: flex;
  justify-content: space-between;
  }

  .category-item {
    flex: 0 0 10%;
  }

  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: white !important;
  }

  .category-selector:checked + label {
    color: white !important;
  }
}
