.motivational {
  font-size: 10px;
  position: relative;
  top: 30px;
  padding: 0;
  margin-right: 22px;
  margin-left: 22px;
  margin-bottom: 0;
  word-wrap: normal;
  width: 100%;
  text-align: center;
}
