*{
  background: $background-image;
}
.form{
  border: 1px solid $kikoe-blue;
  margin: 5em auto;
  padding: 5px;
  width: 800px;
  height: 600px;
 h1{
  font-family:Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 62px;text-align: center;
 }
}
.category-wrapper {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;

}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  // box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  // border: 1px solid #EAEAEA;
  // border-radius: 4px;
  //  background-color: white;
}

.category-selector:checked + label {
  color: $kikoe-pink !important;
}
//new-btn
.new-btn{
   transition-duration: 0.4s;
    background-color: $kikoe-pink;
}
.new-btn:hover{
  background-color: $kikoe-lightblue;
  color:$kikoe-pink ;
}
