.suggested_message{
  padding: 10px;
  margin: 0 auto;
  height: 300px;
  width: 85%;
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  box-shadow: 0px 0px 5px grey;
  color: white;
  margin-top: 15px;
  h3{
    font-size: 18px;
    margin-top: 10px;
  }
  .yes-button, .no-button{
    display: inline-block;
  margin-top: 0 auto;
  margin-bottom: 5px;
 padding: 5px;
  box-shadow: 1px 1px 1px #fa8480;
  border-color: #fa8480;
  color: #f07974;
  font-weight: bold;
  background-color: white;
  border-radius: 10%;
  min-width: 5em;

  }
  .yes-button:hover, .no-button:hover{
  background-color: $kikoe-pink;
  cursor: pointer;
  color: black;
  text-decoration: none;
  }
.counselor-pic{
   border-radius: 50%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
}
}
