.profile-card{
  padding: 10px;
  margin: 0 auto;
  height: 390px;
  width: 85%;
  background-image: linear-gradient(45deg, #ad80fa 5%, #91b2fd 69%, #cdd0f6 98%);
  box-shadow: 0px 0px 5px grey;
  color: white;

  .student-profile{
    color: $kikoe-white;
    font-size:20px;
  }
  .student-image{
    border-radius: 50%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .student-name{
    text-align: center;
    margin-top: 20px;
  }
.student-contact{
  font-family: $body-font;
}

}
