.student-hp-chart {
  .weekly_report {
    .date_set{
      height: 80px;
      width: 12%;
      margin: 10px 8px 0px 8px;
      text-align: center;
      vertical-align: middle;
      i {
        font-size: 25px;
        color: $kikoe-white;
      }
      p {
        font-size: 16px;
        margin: 0;
        background-image: $kikoe-white;
        background-clip: text;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
      }
    }
  }
}
